<!DOCTYPE html>
<html>
<head>

    <!--------------------- use bootsrap applcation----------------------------->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='main.css')}}">    <!--main.css to set up body style like color, margin,font--->
    <!--------------------- use bootsrap applcation----------------------------->
    
    {% if title%}   <!-- if title is passed in, then show title -->
        <title>Flask Blog - {{title}}</title>
    {% else%}
        <title>Flask Blog</title>
    {% endif %}
</head>

<body>
    <!--------------------- navigator application----------------------------->
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
          <div class="container">
            <a class="navbar-brand mr-4" href="/">Flask Blog</a>    <!-- key in name, and route by using href and url_for  -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
              <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="{{url_for('home')}}">Home</a><!-- key in name, and route by using href and url_for  -->
                <a class="nav-item nav-link" href="{{url_for('about')}}">About</a><!-- key in name, and route by using href and url_for  -->
              </div>
              <!-- Navbar Right Side -->
              <div class="navbar-nav">
                <a class="nav-item nav-link" href="{{url_for('login')}}">Login</a><!-- key in name, and route by using href and url_for  -->
                <a class="nav-item nav-link" href="{{url_for('register')}}">Register</a><!-- key in name, and route by using href and url_for  -->
              </div>
            </div>
          </div>
        </nav>
    </header>
    <!--------------------- navigator application----------------------------->

    <!--------------------- main(add sidebar)----------------------------->
    <main role="main" class="container">
        <div class="row">
          <div class="col-md-8">
            <!-- pass flash message here -->
            {% with messages=get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                  <div class="alert alert-{{category}}">
                    {{ message }}
                  </div>
                {% endfor %}
              {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
          </div>
          <div class="col-md-4">
            <div class="content-section">
              <h3>Our Sidebar</h3>
              <p class='text-muted'>You can put any information here you'd like.
                <ul class="list-group">
                  <li class="list-group-item list-group-item-light">Latest Posts</li>
                  <li class="list-group-item list-group-item-light">Announcements</li>
                  <li class="list-group-item list-group-item-light">Calendars</li>
                  <li class="list-group-item list-group-item-light">etc</li>
                </ul>
              </p>
            </div>
          </div>
        </div>
    </main>
    <!--------------------- main(add sidebar)----------------------------->


    <!--------------------- use JavaScript applcation----------------------------->
    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    <!--------------------- use JavaScript applcation----------------------------->
</body>
</html>